Source: fp-collapse-monitor
Maintainer: Muhammed Hanny Sabbagh <email@mhsabbagh.com>
Section: web
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), python3, python3-gi

Package: fp-collapse-monitor
Architecture: all
Depends: debhelper (>= 9), python3, python3-gi, gir1.2-webkit2-4.0
Description: FOSS Post Collapse Monitor
 Simple out-of-the-box browser for collapse maps worldwide. Written in WebKitGTK2 and Python.
